<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Calculadora AJAX</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Calculadora Web (AJAX)</h1>
    <input type="number" id="n1" step="any" required>
    <select id="operacao">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" id="n2" step="any" required>
    <button onclick="calcular()">Calcular</button>

    <h2 id="resultado"></h2>

    <script src="static/script.js"></script>
</body>
</html>
