<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="http://127.0.0.1:5000/inserir" method="POST">
        <input type="text" name="nome" placeholder="Nome" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <form action="http://127.0.0.1:5000/resetar" method="POST" style="margin-top: 10px;">
        <button type="submit" class="reset-button">Resetar Banco</button>
    </form>
    <a href="/usuarios">Ver Usuários Cadastrados</a>
</body>
</html>